<phpunit colors="true" bootstrap="bootstrap.php">

    <testsuite name="All Tests">
        <directory>Doctrine/*</directory>
    </testsuite>

    <filter>
        <whitelist>
            <file>../Component/CacheComponent.php</file>
            <file>../Component/ConnectionComponent.php</file>
            <file>../Component/EntityManagerComponent.php</file>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="coverage" charset="utf-8" yui="true" highlight="true"
             lowUpperBound="35" highLowerBound="70" />
    </logging>

</phpunit>